<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page describing Java language</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1 class="topic">My Journey with Java Programming Language</h1>
    <p>I developed an interest in Java due to its versatility and widespread use in enterprise-level applications.</p>
    <p>My journey began during my college years when I enrolled in a Java programming course as part of my computer science curriculum.</p>
    <p>Java's capabilities in server-side programming with frameworks like Spring and its extensive ecosystem attracted me to explore its potential.</p>
    <p>Learning Java has empowered me to develop robust, scalable, and platform-independent applications for various domains.</p>

    <h2 class="topic1">Features of Java programming language</h2>
    <ol>
        <li>Java is a versatile language suitable for enterprise-level applications, web services, and mobile development.</li>
        <li>Java's syntax emphasizes readability and maintainability, making it easy for developers to write and understand code.</li>
        <li>Java's strong typing system enhances code reliability and helps prevent runtime errors.</li>
        <li>Java offers high performance and scalability, making it an ideal choice for mission-critical systems.</li>
    </ol>

    <h3 class="topic2">Pros and cons of Java language</h3>
    <div class="container">
      <div class="grid-item">Pros</div>
      <div class="grid-item">Example code</div>
      <div class="grid-item">Source</div>
      <div class="grid-item">Extra comments</div>
      
      <div class="grid-row-wrapper">

              <div class="grid-item">Strong typing system</div>
              <div class="grid-item">It is platform-independent</div>
             
      </div>

      <div class="grid-row-wrapper">
        <div class="grid-item"><code> int[] array = new int[1000000];
        </code></div>

        <div class="grid-item"><code>
          public String getName() {
            return name;
        }
        </code>
      </div>

    </div>

    <div class="grid-row-wrapper">
      <div class="grid-item"><a href="https://docs.oracle.com/javase/8/docs/api/java/util/Arrays.html">Arrays in Java</a></div>


      <div class="grid-item"><a href="https://docs.oracle.com/javaee/6/tutorial/doc/gjbbp.html">Getters in Java</a></div>

    </div>

    <div class="grid-row-wrapper">
      <div class="grid-item">Java's strong typing system ensures type safety at compile time</div>


      <div class="grid-item"><p>Java programs can run on any device or operating system that supports the JVM</p></div>

    </div>
          <div class="grid-item">Cons</div>
        <div class="grid-item">Example code</div>
        <div class="grid-item">Source</div>
        <div class="grid-item">Extra comments</div>
      
            <div class="grid-row-wrapper">

              <div class="grid-item"><p>Java applications tend to consume more memory due to the overhead of the JVM</p></div>
              <div class="grid-item"> Java code often requires more lines of code compared to other languages</div>
            
          </div>

          <div class="grid-row-wrapper">

              <div class="grid-item"><code>TicTacToeGame game = new TicTacToeGame();
                game.initializeGame();
              </code></div>
              
              <div class="grid-item"><code>
                PlayingPieceX crossPiece = new PlayingPieceX();
                Player player1 = new Player("Abhishek", crossPiece);</code></div>
            
          </div>

          <div class="grid-row-wrapper">

            <div class="grid-item"><a href="https://stackoverflow.com/questions/20430257/why-is-this-java-program-taking-up-so-much-memory">stackoverflow</a></div>


            <div class="grid-item"><a href="https://medium.com/@trungluongquang/why-use-java-that-even-requires-more-lines-of-code-than-python-7805703e4763">article</a></div>
          
        </div>

        <div class="grid-row-wrapper">

          <div class="grid-item"><p>Java's garbage collection is also one major reson for memory consumption</p></div>
          <div class="grid-item"><img src="{% static 'images/error.png' %}"></div>
        
      </div>

  </div>
  
    </div>

      <h2>A code snippet which shows development of  RESTful API</h2>

      <img src="{% static 'images/java.png' %}" alt="Web scraping code" title="A python code use for webscraping" />

      <h2> Example code in Java </h2>
      <code>
        public class Board {
          private int size;
          private PlayingPiece [][] board;}
  
    </code> 



    <h2 class="topic3">Why Java meets my needs</h2>
    <p>Java's versatility and robustness make it an ideal choice for developing a wide range of applications.</p>
    <p>Its platform independence and strong ecosystem enable me to tackle complex software projects with confidence.</p>
    <p>Java's popularity and community support provide ample resources for learning and growth as a developer.</p>

    <h2 class="topic4">Resources to learn more about Java</h2>
    <ul>
        <li><a class="link1" href="https://docs.oracle.com/javase/tutorial/">Oracle Java Tutorials</a></li>
        <li><a href="https://www.udemy.com/courses/search/?q=java">Java Courses on Udemy</a></li>
        <li><a href="https://www.javatpoint.com/">JavaTpoint - Java Programming and Tutorials</a></li>
    </ul>

    <h1 class="topic5">Feedback form</h1>
    <div class="divbox">
        <form name="feedbackform" id="myForm">
            <label for="fname">Name</label>
            <input type="text" id="name" name="firstname" placeholder="Your name.." value="Abhishek">

            <label for="lname">Email</label>
            <input type="email" id="email" name="email" placeholder="Email" value="abhishek@gmil.com">

            <label for="selection">Selection</label>
            <select name="selection" value="" id="userType" onchange="loadJsonData()">
                <option value="student">Student</option>
                <option value="bachelor">Bachelor</option>
            </select>

      
            <div id="jsonDataDisplay"></div>

            <label for="message">Comment</label>
            <textarea type="text" id="message" name="message" placeholder="Your comment.."> </textarea>

            <button type="submit">Submit</button>

            <ul id="displayList" style="list-style-type: none;"></ul>
        </form>
    </div>

    <script>
      const form = document.getElementById('myForm');
      const displayList = document.getElementById('displayList');
  
      form.addEventListener('submit', (event) => {
          event.preventDefault();
  
          const input1Value = document.getElementById('name').value;
          const input2Value = document.getElementById('email').value;
          const input3Value = document.getElementById('userType').value;
          const input4Value = document.getElementById('message').value;
    
          const listItem = document.createElement('li');
          listItem.innerHTML = `
              <span style="font-weight:bold;">Name:</span> ${input1Value} <br>
              <span style="font-weight:bold;">Email:</span> ${input2Value} <br>
              <span style="font-weight:bold;">Options:</span> ${input3Value} <br>
              <span style="font-weight:bold;">Comment:</span> ${input4Value} <hr style="border: 1px solid black;">
          `;
  
          displayList.appendChild(listItem);
  
          form.reset();
      });
  
      function loadJsonData() {
          const userType = document.getElementById('userType').value;
          const studentJsonLink = 'https://my-json-server.typicode.com/depth0/survey1/surveys';
          const bachelorJsonLink = 'https://my-json-server.typicode.com/depth0/survey1/questions';
  
          const jsonLink = (userType === 'student') ? studentJsonLink : bachelorJsonLink;
  
          fetch(jsonLink)
              .then(response => response.json())
              .then(jsonData => {
                  const jsonDataDisplay = document.getElementById('jsonDataDisplay');
                  jsonDataDisplay.innerHTML = ''; 
  
                  
                  jsonData.forEach(item => {
                      const itemDiv = document.createElement('div');
  
                      
                      if (item.qs && item.qs.length > 0) {
                          const questions = item.qs.map(question => {
                              return `<p>${question}</p>`;
                          }).join('');
                          itemDiv.innerHTML = `
                              <form>
                                  <p>${item.title}</p>
                                  <p>${item.desc}</p>
                                  ${questions}
                              </form>
                              <hr>
                          `;
                      } else {
                          itemDiv.innerHTML = `
                              <form>
                                  <p>${item.title}</p>
                                  <p>${item.description}</p>
                                  <input type="radio" id="option1" name="options" value="1" />
                                  <label for="option1">1</label>
                                  <input type="radio" id="option2" name="options" value="2" />
                                  <label for="option2">2</label>
                                  <input type="radio" id="option3" name="options" value="3" />
                                  <label for="option3">3</label>
                                  <input type="radio" id="option4" name="options" value="4" />
                                  <label for="option4">4</label>
                                  <input type="radio" id="option5" name="options" value="5" />
                                  <label for="option5">5</label>
                                  <hr>
                              </form>
                          `;
                      }
  
                   
                      jsonDataDisplay.appendChild(itemDiv);
                  });
              })
              .catch(error => console.error('Error fetching JSON:', error));
      }
  
    
      loadJsonData();
  </script>
</body>
</html>
